<header class="headerMarketingUa">
    <div class="headerBody">
        <img class="logoImage" src="assests/images/logo.jpeg">
    <nav>
      <ul class="navBarClass" id="navBarClass">
        <li class="navLi" id='LoginOrLoged'><button class="createBoxButton" href="http://localhost:3050/login.html">login</button></li>
        <li class="navLi"><a href="#mainPage" id="d">головна сторінка</a></li>
        <li class="navLi"><a href="#completeScroll"id="d">готові подарунки</a></li>
        <li class="navLi"><a href="#deliveryAndPay"id="d">доставка і оплата</a></li>
        <li class="navLi" id="vid"><a href=""id="d">відгуки</a></li>
        <li class="navLi" id="contacts"><a href="#ourContacts"id="d">контакти</a></li>
        <li class="navLi"><button class="createBoxButton" href="http://localhost:3050/createBox.html">Cтворити бокс</button></li>        
      </ul>
    </nav>
    </div>
  </header>

