    <div class=boughtRow>
            <h3 id='bought'><%= cart_item.box.title %> </h3>
            <div class='boughtBlock'>
            <img class='BoughtImg' src='<%= cart_item.box.img %>' >
            <span class='price'><%= cart_item.box.price*cart_item.quantity %></span><span> грн.<span>
            <button data-tooltip='toolTip' class='minus'>-</button> <label class='Labelamount'>
            <div class='DivCount'><%= cart_item.quantity %></div>
                </label> <button data-tooltip='toolTip' class='circle plus'>+</button>
            <button data-tooltip='toolTip' class='X'>x</button>
                </div>
    </div>