<html>
   <div class="thumbnail col-sm-6 col-md-4">
       <img class="box" src="<%= box.icon %>" >
       <div class="caption"> 
           <p class="textName"><%= box.title %></p> 
           <p class="description"><%= box.description %></p> 
           <p class="price"><%= box.price %></p>
        </div>
        <div class="BuyAndDetailsButtons"> 
            <button class="details">Детальніше</button> 
            <button class="buy">В кошик</button>
        </div> 
    </div>
</html>