<html>
   <div class="thumbnail col-sm-6 col-md-4">
       <img class="box" src="<%= singleItem.img %>" >
       <div class="caption"> 
           <p class="textName"><%= singleItem.title %></p> 
           <p class="description"><%= singleItem.description %></p> 
           <p class="price"><%= singleItem.price %> грн</p>
        </div>
        <div class="BuyAndDetailsButtons"> 
           
            <button class="buy">В кошик</button>
        </div> 
    </div>
</html>