

<div class="mainImage">
    <div class="mainImageDiv">
      <h2 class="indGiftText"> Індивідуальний подарунок </h2>
      <h2 class="createText"> створи власноруч з наявних елементів! </h2>    
      <br>     
    </div>
  </div>
  <div class="container">
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="Instruction">

        <p class="howItWorks">Інструкція</p>
            <span class="punkts">
               <b> 1 Оберіть коробку</b><br><br>
               <b>2 Оберіть речі, які ви хотіли б додати до подарунку</b><br><br>
               <b>  3 Оберіть солодощі</b><br><br>          
                <b> 4 Оберіть листівку</b><br><br>
                <b> 5 Оформіть замовлення</b><br>
            </span>

</div>
</div>
<div class="col-sm-2"></div>
</div>

<div class="row holiday" id='ItemsList'>
  <p data-href="#chooseBox">Оберіть коробку</p>
  <p data-href="#chooseItems">Оберіть предмети</p>
  <p data-href="#chooseSweets">Оберіть солодощі</p>
  <p data-href="#chooseEnv">Оберіть листівку</p>
  <p data-href="#toPurchase">В кошик</p> 

</div>
</div>

  <!-- Bootsrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<link rel="stylesheet" href="assests/less/design.css">
<link rel="stylesheet/less" type="text/css" href="assests/less/design.less">

<!--Own JavaScript -->



<script type="text/javascript"  src="assests/js/main.js"> </script> 