<p>Temporary</p>

<input type='text' id='email'>
<input type="text" id='password'>
<button id='sendUserData'>login</button>
<a href="http://localhost:3050/signUpPage.html">Sign up</a>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="assests/js/main.js"> </script> 
<script src="https://smtpjs.com/v3/smtp.js"></script>