









<% include common/cart.ejs %>
<body>
  <img id='cartIcon' src="assests/images/cart.png">
  <header class="headerMarketingUa">
    <div class="headerBody">
        <img class="logoImage" src="assests/images/logo.jpeg">
    <nav>
      <ul class="navBarClass" id="navBarClass">
        
        <li class="navLi"><a href="#mainPage">головна сторінка</a></li>
        <li class="navLi"><a href="#completeScroll">готові подарунки</a></li>
        <li class="navLi"><a href="">доставка і оплата</a></li>
        <li class="navLi" id="vid"><a href="">відгуки</a></li>
        <li class="navLi" id="contacts"><a href="">контакти</a></li>
        <li class="navLi"><button class="createBoxButton" href="">Cтворити бокс</button></li>        
      </ul>
    </nav>
    </div>
  </header>

  
  <div class="container" >

  <div class="LetMarketingGrowYourBusiness">
    <div class="LOGO" id="mainPage">
      <h2 class="logo"> СТВОРИ СВІЙ ІДЕАЛЬНИЙ </h2>
      <h2 class="logo"> ПОДАРУНКОВИЙ БОКС </h2>    
      <br>     
    </div>
  </div>



  <main>
    <section class="ourStory">
      <table width="93%" cellpadding="" class="ourStory">
        <tr>
          <td class="picStory"></td>
          <td class="ourStoryText">
            <h2 class="OURSTORY">Трішки про нас</h2>
            <p class="textStory">Цей сайт створений для того, щоб підібрати ідеальний бокс-подарунок або створити свій унікальний. Завдяки цьому сервісу ви економите свій час, адже багато деталей, що можна додати до подарунку знаходяться в одному місці.</p>
            <form>
              <button class="GetInTouch">пора творити</button>
            </form>
          </td>
        </tr>
      </table>
      
    </section>
    <section class="completeBox" id="completeScroll">
      <h2 id="readyGifts">ГОТОВІ ПОДАРУНКИ</h2>
            <div class="typeOfPresents" id="typesForScroll">
              <button data-href="#Easter" class="type" id="1">ПАСХА</button>
              <button data-href="#Him" class="type" id="2">ДЛЯ НЬОГО</button>
              <button data-href="#Her" class="type" id="3">ДЛЯ НЕЇ</button>
              <button data-href="#Sweeties" class="type" id="4">СМАКОЛИКИ</button>
              <button data-href="#NewYear" class="type" id="5">НОВИЙ РІК</button>
              <button data-href="#SaintValentine" class="type" id="6">14.02</button>
           </div>
    </section>

    <div class="boxSections">


        
          <p class="byHoliday" id='Easter'>До Пасхи</p>
          <div class="row holiday" >
            
              <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="assests/images/box13east.JPG" ><div class="caption"> <p class="textName">Весняний комплімент</p> <p class="description">з ароматним чаєм і смаколиками</p> <p class="price">195 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
              <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="assests/images/box15east.JPG" ><div class="caption"> <p class="textName">Ніжні барви</p> <p class="description">з тематичними деталями і смаколиками</p> <p class="price">175 грн</p></div><div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
              <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="assests/images/box8east.JPG" ><div class="caption"><p class="textName">Весняний пакунок</p> <p class="description">чай, тематичні пряники, смаколики</p> <p class="price">225 грн</p></div> <div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
            
          </div>
          
               

        <p class="byHoliday" id='Him'>Для нього</p>
        <div class="row holiday" >
          
            <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="assests/images/men.JPG" ><div class="caption"> <p class="textName">Набір для догляду</p> <p class="description">шампунь, гель для душу, крем для рук, бальзам після гоління, листівка</p> <p class="price">359 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
            <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/formen.JPG" ><div class="caption"> <p class="textName">Приємні дрібниці</p> <p class="description">смачний фруктовий чай та кава, фляжка та смаколики</p> <p class="price">310 грн</p></div><div class="BuyAndDetailsButtons">    <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/forhim.JPG" > <div class="caption">  <p class="textName">Елегантний</p> <p class="description">блокнот, смачний чай, цукерки, шоколад, горішки</p> <p class="price">265 грн</p></div><div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
          
        </div>



        <p class="byHoliday"  id="Her">Для неї</p>
          <div class="row holiday">
          
              <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box188march.JPG" ><div class="caption"> <p class="textName">Ідеально до 8 березня</p> <p class="description">листівка, пряник в вигляді вісьмірки, чашка та солоденьке</p> <p class="price">279 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
              <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/forHer.JPG" ><div class="caption"><p class="textName">Рожеві приємності</p> <p class="description">зефір, шоколад, джем, цукерки, антисептик з ароматом троянди</p> <p class="price"> 339 грн</p></div> <div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
              <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box5.JPG" ><div class="caption">   <p class="textName">Квітковий бокс</p> <p class="description">сіль для ванни, кокосове масло для тіла, букетик, листівка і солоденьке</p> <p class="price"> 229 грн</p></div><div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
            
          </div>
        


       <p class="byHoliday" id="Sweeties">Смаколики</p>
       <div class="row holiday" >
         
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box16.JPG" ><div class="caption"><p class="textName">Бадьорий пакунок</p> <p class="description">кава, апельсиновий мармелад, склянка, горішки </p> <p class="price"> 275 грн</p></div><div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box14.JPG" > <div class="caption"><p class="textName">Для затишного вечора</p> <p class="description">какао, ванільний зефір, імбирне печиво, ніжні деталі</p> <p class="price"> 140 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box11.JPG" ><div class="caption">  <p class="textName">Цінувачам кави</p> <p class="description">заварник для кави, чашка з блюдечком, кава, шоколадні цукерки</p> <p class="price"> 390 грн</p></div><div class="BuyAndDetailsButtons"><button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
         
       </div>


    
       <p class="byHoliday"  id="NewYear">До нового року</p>
       <div class="row holiday">
         
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/newYear.JPG" ><div class="caption"><p class="textName">Набір для глінтвейну</p> <p class="description">Спеції для глінтвейну, червоне сухе вино, класична склянка , смаколики, листівка</p> <p class="price">695 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box10newyear.JPG" ><div class="caption"> <p class="textName">Затишний подарунок</p> <p class="description">Шкарпетки, пряник Дід Мороз, упаковка какао, солодощі, дерев'яна ялинка</p> <p class="price">240 грн</p></div><div class="BuyAndDetailsButtons">   <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box12.JPG" ><div class="caption">  <p class="textName">Новорічні солодощі</p> <p class="description">Баночки з трьома видами джему, цукерки, шоколад, пряники-зірочки</p> <p class="price">329 грн</p></div><div class="BuyAndDetailsButtons">   <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
        
       </div>


       <p class="byHoliday"  id="SaintValentine">До дня всіх закоханих</p>
       <div class="row holiday">
        
          <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/love.JPG" ><div class="caption"> <p class="textName">Для солодкоїжок</p> <p class="description">упаковка в вигляді сердечка, жуйки, шоколад, листівка</p> <p class="price"> 369 грн</p></div>  <div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box3.JPG" ><div class="caption"> <p class="textName">Ніжний подарунок</p> <p class="description">дерев'яний бокс, шампаньске, свічка, букетик, пряник, цукерки, чай і листівка</p> <p class="price"> 440 грн</p></div> <div class="BuyAndDetailsButtons">   <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box9.JPG" > <div class="caption"> <p class="textName">Розкішний сюрприз</p> <p class="description">квіточки, свічка, червоне вино, сухофрукти, карамель</p> <p class="price">489 грн</p></div>  <div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
         
       </div>



  </main>
  
  <div id="map"></div>
<script src="assests/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-lYV63ujVUrRplyaotlzz5p83_O-R7vg&callback=initMap&libraries=&v=weekly"
    async
></script>
  </div>
</body>


<footer>
  <div class="footer"> 

  </div>
</footer>





<!-- Bootsrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<link rel="stylesheet" href="assests/less/design.css">
<link rel="stylesheet/less" type="text/css" href="assests/less/design.less">

<!--Own JavaScript -->

<script type="text/javascript"  src="assests/js/cart.js"> </script>

<script type="text/javascript"  src="assests/js/main.js"> </script> 

<script type="text/javascript"  src="assests/js/scroll.js"> </script> 

