









<% include common/cart.ejs %>
<body>
  <img id='cartIcon' src="assests/images/cart.png">
  <span id='countBougthItemsCircle'><p id="countBougthItems"></p></span>
  <% include common/header.ejs %>

  
  <div class="container" >

  <div class="LetMarketingGrowYourBusiness">
    <div class="LOGO">
      <h2 class="logo" id="mainPage"> СТВОРИ СВІЙ ІДЕАЛЬНИЙ </h2>
      <h2 class="logo"> ПОДАРУНКОВИЙ БОКС </h2>    
      <br>     
    </div>
  </div>



  <main>
    <section class="ourStory">
      <table width="93%" cellpadding="" class="ourStory">
        <tr>
          <td class="picStory"></td>
          <td class="ourStoryText">
            <h2 class="OURSTORY">Трішки про нас</h2>
            <p class="textStory">Цей сайт створений для того, щоб підібрати ідеальний бокс-подарунок або створити свій унікальний. Завдяки цьому сервісу ви економите свій час, адже багато деталей, що можна додати до подарунку знаходяться в одному місці.</p>
            <form>
              <button class="GetInTouch">пора творити</button>
            </form>
          </td>
        </tr>
      </table>
      
    </section>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
     <section class="completeBox" id="completeScroll">
      <h2 id="readyGifts">ГОТОВІ ПОДАРУНКИ</h2>
            <div class="row typeOfPresents" id="typesForScroll">
              <div class="col-sm-4 col-md-3 col-lg-2">
              <button data-href="#Easter" class="typeEaster" id="easter"><span class="e">ПАСХА</span></button>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2">
              <button data-href="#Him" class="typeHim" id="2"><span class="h">ДЛЯ НЬОГО</span></button>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2">
              <button data-href="#Her" class="typeHer" id="3"><span class="her">ДЛЯ НЕЇ</span></button>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2">
              <button data-href="#Sweeties" class="typeSweet" id="4"><span class="sw">СМАКОЛИКИ</span></button>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2">
              <button data-href="#NewYear" class="typeNY" id="5"><span class="ny">НОВИЙ РІК</span></button>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2">
              <button data-href="#SaintValentine" class="typeSV" id="6"><span class="sv">14.02</span></button>
              </div>
           </div>
    </section>
  </div>
  <div class="col-sm-1">
    </div>
    </div>

    <div class="boxSections">


        
          <p class="byHoliday">До Пасхи</p>
          <div class="row holiday" id='Easter'>
            
              <!-- <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="assests/images/box13east.JPG" ><div class="caption"> <p class="textName">Весняний комплімент</p> <p class="description">з ароматним чаєм і смаколиками</p> <p class="price">195 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
                -->
                
              <!-- <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="assests/images/box15east.JPG" ><div class="caption"> <p class="textName">Ніжні барви</p> <p class="description">з тематичними деталями і смаколиками</p> <p class="price">175 грн</p></div><div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div> -->
              <!-- <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="assests/images/box8east.JPG" ><div class="caption"><p class="textName">Весняний пакунок</p> <p class="description">чай, тематичні пряники, смаколики</p> <p class="price">225 грн</p></div> <div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div> -->
            
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <ul class="DetailsText" id='1'>
                <li>
                  
                  Крафтова коробка
                </li>
                <li>
                  
                  Німецький міні-шоколад Ritter Sport, 60 г - 3 шт 
                </li>
                <li>
                
                  Зелений чай в баночці, 120 г 
                </li>
                <li>
                  
                  Мед з горішками, 80 г
                </li>
                <li>
                  
                  Дерев'яна прикраса кролик
                </li>
                <li>
                
                  Деревна шерсть
                </li>                                   
              </ul> 
            </div>

            <div class="col-sm-6 col-md-4">
              <ul class="DetailsText" id='2'>
                <li>
                  
                  Крафтова коробка
                </li>
                <li>
                  
                  Німецький шоколад Ritter Sport, 100 г - 1 шт 
                </li>
                <li>
                
                  Зефір ванільний, 40 г - 3 шт 
                </li>
                <li>
                  
                  Мед з горішками, 80 г
                </li>
                <li>
                  
                  Дерев'яна прикраса кролик
                </li>
                <li>
                
                  Деревна шерсть
                </li> 
                <li>             
                  Тематичні глазуровані пряники, 50 г - 2 шт
                </li>                                   
              </ul> 
            </div>


            <div class="col-sm-6 col-md-4">
              <ul class="DetailsText" id='3'>
                <li>
                  
                  Крафтова коробка
                </li>
                <li>             
                  Фруктовий чай в скляній банці, 100 г - 2 шт
                </li>
                <li>
                  
                  Німецький шоколад Ritter Sport, 100 г - 1 шт 
                </li>
                <li>
                
                  Зефір, 20 г - 2 шт 
                </li>
                <li>
                  
                  Мед з горішками, 80 г
                </li>
                <li>
                  
                  Дерев'яна прикраса кролик
                </li>
                <li>
                
                  Деревна шерсть
                </li> 
                <li>             
                  Тематичні глазуровані пряники, 70 г - 2 шт
                </li>                                   
              </ul> 
            </div>
          </div>

               
               

        <p class="byHoliday">Для нього</p>
        <div class="row holiday" id='Him'>
          
            <!-- <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/men.JPG" ><div class="caption"> <p class="textName">Набір для догляду</p> <p class="description">шампунь, гель для душу, крем для рук, бальзам після гоління, листівка</p> <p class="price">359 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
            <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/formen.JPG" ><div class="caption"> <p class="textName">Приємні дрібниці</p> <p class="description">смачний фруктовий чай та кава, фляжка та смаколики</p> <p class="price">310 грн</p></div><div class="BuyAndDetailsButtons">    <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/forhim.JPG" > <div class="caption">  <p class="textName">Елегантний</p> <p class="description">блокнот, смачний чай, цукерки, шоколад, горішки</p> <p class="price">265 грн</p></div><div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           -->
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6 col-md-4">
          <ul class="DetailsText" id='4'>
            <li>
              
              Крафтова коробка
            </li>

            <li>
              
              Гель для душу, "nivea men" , 350 мл
            </li>
            <li>
              
              Шампунь зміцнюючий, "nivea men" , 200 мл
            </li>
            <li>
            
              Крем для рук, "nivea men", 75 мл
            </li>
            <li>
              
              Бальзам після гоління, "nivea men", заспокійливий для чутливої шкіри (без спирту),  100 мл
            </li>
            <li>
              
              Листівка 
            </li>
            <li>
            
              Голуба деревна шерсть
            </li>                                   
          </ul> 
        </div>

        <div class="col-sm-6 col-md-4">
          <ul class="DetailsText" id='5'>
            <li>
              
              Крафтова коробка
            </li>
            <li>
              
              Цукерки "Ferrero Rocher", 60 г - 1 шт 
            </li>
            <li>
            
              Кава, 100% купаж арабіки ESPRESSO DE LUX, 300 г - 1 шт 
            </li>
            <li>
              
              Смажений фундук, грецький горіх, 200 г - 1 шт
            </li>
            <li>
              
              Фісташкова паста , 100 г - 1 шт
            </li>
            <li>
            
                Металева фляга для віскі , 0.2 л
            </li> 
            <li>
            
              Деревна шерсть
            </li> 
            <li>             
              Манговий чай, 300 г - 1 шт
            </li>                                   
          </ul> 
        </div>


        <div class="col-sm-6 col-md-4">
          <ul class="DetailsText" id='6'>
            <li>
              
              Крафтова коробка
            </li>
            <li>             
              Блокнот з картонною обкладинкою, 90 листів - 1 шт
            </li>
            <li>
              
              Молочний бельгійський шоколад Spell з фундуком, 100 г - 1 шт 
            </li>
            <li>
            
              Цукерки "Ferrero Rocher", 60 г - 1 шт 
            </li>
            
            <li>
              
              Смажений фундук, грецький горіх, 200 г - 1 шт
            </li>
            <li>
            
              Деревна шерсть
            </li> 
            <li>             
              Чорний чай, 300 г - 1 шт
            </li>                                   
          </ul> 
        </div>
      </div>



        <p class="byHoliday">Для неї</p>
          <div class="row holiday" id="Her">
          
              <!-- <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box188march.JPG" ><div class="caption"> <p class="textName">Ідеально до 8 березня</p> <p class="description">листівка, пряник в вигляді вісьмірки, чашка та солоденьке</p> <p class="price">279 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
              <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/forHer.JPG" ><div class="caption"><p class="textName">Рожеві приємності</p> <p class="description">зефір, шоколад, джем, цукерки, антисептик з ароматом троянди</p> <p class="price"> 339 грн</p></div> <div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
              <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box5.JPG" ><div class="caption">   <p class="textName">Квітковий бокс</p> <p class="description">сіль для ванни, кокосове масло для тіла, букетик, листівка і солоденьке</p> <p class="price"> 229 грн</p></div><div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
             -->
          </div>
        

          <div class="row">

            <div class="col-sm-6 col-md-4">
              <ul class="DetailsText" id='7'>
                <li>
                  
                  Крафтова коробка
                </li>
        
                <li>
                  
                  Глазурований пряник в вигляді вісьмірки  , 90 гр - 1 шт
                </li>
                <li>
                  
                  Рожева глиняна чашка , 1 шт
                </li>
                <li>
                
                  Рожеве глиняне блюдце , 1 шт 
                </li>
                <li>
                  
                  Набір горішків в склянці , 50 гр - 1 шт
                </li>
                <li>
                  
                  Печиво з кремом , 10 г - 6 шт
                </li>
                <li>
                  
                  Німецький шоколад Ritter Sport, 100 г - 1 шт
                </li>
                <li>
                  
                  Листівка "8 березня", 1 шт
                </li>
                
                <li>
                
                  Деревна шерсть
                </li>  
                <li>
                
                  Набір для какао, 300 г - 1 шт                     
                  
                </li>  
              </ul> 
            </div>
        
            <div class="col-sm-6 col-md-4">
              <ul class="DetailsText" id='8'>
                <li>
                  
                  Упаковка фруктового зефіру , 200 гр - 1 шт
                </li>
                <li>
                  
                  Цукерки "Ferrero Rocher", 60 г - 1 шт 
                </li>
                <li>
                
                  Німецький шоколад Ritter Sport, 100 г - 1 шт
                </li>
                <li>
                  
                Джем абрикосовий, 70 г - 1 шт
                </li>
                <li>
                  
                  Джем сливовий, 70 г - 1 шт
                </li>
                <li>
                
                  Цукерки "Raffaello", 60 г - 1 шт
                </li> 
                <li>
                
                  Фруктовий чай, 300 г - 1 шт
                </li> 
                <li>
                
                  Деревна шерсть
                </li> 
                <li>             
                  Антисептик з ароматом троянди, 100 мл - 1 шт
                </li>                                   
              </ul> 
            </div>
        
        
            <div class="col-sm-6 col-md-4">
              <ul class="DetailsText" id='9'>
                <li>
                  
                  Крафтова коробка
                </li>
                <li>             
                Листівка - 1 шт
                </li>
                <li>
                  
                  Букет сухих квіток, 1 шт 
                </li>
                <li>
                
                Сіль для ванни з ароматом троянди, 400 г - 1 шт 
                </li>
                
                <li>
                  
                  Масло кокосове для тіла, 170 г - 1 шт
                </li>
                <li>
                
                  Деревна шерсть
                </li> 
                <li>             
                  Горішки, 100 г - 1 шт
                </li>                                   
              </ul> 
            </div>

          </div>

       <p class="byHoliday">Смаколики</p>
       <div class="row holiday" id="Sweeties">
         
           <!-- <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box16.JPG" ><div class="caption"><p class="textName">Бадьорий пакунок</p> <p class="description">кава, апельсиновий мармелад, склянка, горішки </p> <p class="price"> 275 грн</p></div><div class="BuyAndDetailsButtons">  <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box14.JPG" > <div class="caption"><p class="textName">Для затишного вечора</p> <p class="description">какао, ванільний зефір, імбирне печиво, ніжні деталі</p> <p class="price"> 140 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box11.JPG" ><div class="caption">  <p class="textName">Цінувачам кави</p> <p class="description">заварник для кави, чашка з блюдечком, кава, шоколадні цукерки</p> <p class="price"> 390 грн</p></div><div class="BuyAndDetailsButtons"><button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
          -->
       </div>


       <div class="row">

        <div class="col-sm-6 col-md-4">
       <ul class="DetailsText" id='10'>
        <li>
          
          Дерев'яна коробка
        </li>

        <li>
          
          Кава, 100% купаж арабіки "Illy", 300 г - 1 шт
        </li>
        <li>
          
         Склянка для кави , 1 шт
        </li>
        <li>
         
         Апельсиновий мармелад , 200 гр - 1 шт 
        </li>
        <li>
          
          Набір горішків  , 150 гр - 1 шт
        </li>
       
        <li>
         
          Деревна шерсть
        </li>  
        <li>
         
          Бантик навколо коробки, 1 шт                     
          
        </li>  
      </ul> 
      </div>


      <div class="col-sm-6 col-md-4">
      <ul class="DetailsText" id='11'>
        <li>
          
          Крафтова коробка
        </li>
        <li>
          
          Упаковка зефіру , 130 гр - 1 шт
        </li>
        <li>
          
          Імбирне печиво, 90 г - 1 шт 
        </li>
        <li>
         
          Рожеве декоративне пір'я - 1 шт
        </li>
        
        <li>
        
          Деревна шерсть
        </li> 
        <li>             
          Какао в банці, 100 гр - 1 шт
        </li>                                   
      </ul> 
      </div>


      <div class="col-sm-6 col-md-4">
      <ul class="DetailsText" id='12'>
        <li>
          
          Крафтова кругла коробка
        </li>
        <li>             
        Біла чашка для кави- 1 шт
        </li>
        <li>
           
        Заварник для кави "Vincent", ємкість 200 мл - 1 шт 
        </li>
        <li>
         
         Родзинки, 90 г - 1 шт 
        </li>
        
        <li>
          
          Біле блюдце, 1 шт
        </li>
        <li>
        
          Деревна шерсть
        </li> 
        <li>             
          Кава, 100% купаж арабіки "DAVIDOFF", 300 г - 1 шт
        </li>                                   
      </ul> 
      </div>

      </div>


    
       <p class="byHoliday">До нового року</p>
       <div class="row holiday" id="NewYear">
         
            <!-- <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/newYear.JPG" ><div class="caption"><p class="textName">Набір для глінтвейну</p> <p class="description">Спеції для глінтвейну, червоне сухе вино, класична склянка , смаколики, листівка</p> <p class="price">695 грн</p></div><div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box10newyear.JPG" ><div class="caption"> <p class="textName">Затишний подарунок</p> <p class="description">Шкарпетки, пряник Дід Мороз, упаковка какао, солодощі, дерев'яна ялинка</p> <p class="price">240 грн</p></div><div class="BuyAndDetailsButtons">   <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box12.JPG" ><div class="caption">  <p class="textName">Новорічні солодощі</p> <p class="description">Баночки з трьома видами джему, цукерки, шоколад, пряники-зірочки</p> <p class="price">329 грн</p></div><div class="BuyAndDetailsButtons">   <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
         -->
       </div> 
       
       <div class="row">

        <div class="col-sm-6 col-md-4">
       <ul class="DetailsText" id='13'>
        <li>
          
          Крафтова коробка
        </li>

        <li>
          
          Суміш спецій для приготування глінтвейну, 120 г
        </li>
        <li>
          
          Класичний бокал для Глінтвейну
        </li>
        <li>
         
          Червоне сухе Вино Каберне (ідеальний вибір для Глінтвейну)
        </li>
        <li>
          
          Імбирне печиво 2021
        </li>
       
        <li>
         
          Деревна шерсть
        </li>  
        <li>
         
          Торба Щастя (7 шоколадок з передбаченням у мішечку)                 
          
        </li>  
        <li>
         
          Енергетичний батончик з фруктів та горіхів, 40 г           
          
        </li>  
        <li>
         
          Крем-мед, 250 г 
          
        </li>  
        <li>
         
          Шоколад Ritter Sport, 100 г
          
        </li> 
        <li>
         
          Raffaello, 5 шт
          
        </li> 
        <li>
         
          Тематична листівка
          
        </li> 
        
      </ul> 
      </div>

      <div class="col-sm-6 col-md-4">
      <ul class="DetailsText" id='14'>
        <li>
          
          Крафтова коробка
        </li>
        <li>
          
          Шкарпетки з котииком ,  1 шт
        </li>
        <li>
          
          Упаковка какао в металевій коробці, 90 г - 1 шт 
        </li>
        <li>
         
          Шоколад "Toberlone" 70 гр - 1 шт
        </li>
        
        <li>
        
          Деревна шерсть
        </li> 
        <li>             
          Шоколад Ritter Sport, 100 г
        </li>  
        <li>             
         Пряник глазурований, 110 г
        </li>                                 
      </ul> 
      </div>


      <div class="col-sm-6 col-md-4">
      <ul class="DetailsText" id='15'>
        <li>
          
          Крафтова коробка
        </li>
        <li>             
        Молочний шоколад , 100 гр - 1 шт
        </li>
        <li>
           
       Вишневі льодяники , 200 гр - 1 шт 
        </li>
        <li>
         
         Джем слиововий, 90 г - 1 шт 
        </li>
        
        <li>
          
          Джем персиковий з горішками, 90 г - 1 шт 
        </li>
        <li>
          
          Джем вишневий, 90 г - 1 шт 
        </li>
        <li>
        
          Деревна шерсть
        </li> 
        <li>             
          Листівка 
        </li>    
        <li>             
          Імбирні пряники, 20 гр - 4 шт 
        </li>                                   
      </ul> 
      </div>

      </div>


       <p class="byHoliday">До дня всіх закоханих</p>
       <div class="row holiday" id="SaintValentine">
        
           <!-- <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/love.JPG" ><div class="caption"> <p class="textName">Для солодкоїжок</p> <p class="description">упаковка в вигляді сердечка, жуйки, шоколад, листівка</p> <p class="price"> 369 грн</p></div>  <div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box3.JPG" ><div class="caption"> <p class="textName">Ніжний подарунок</p> <p class="description">дерев'яний бокс, шампаньске, свічка, букетик, пряник, цукерки, чай і листівка</p> <p class="price"> 440 грн</p></div> <div class="BuyAndDetailsButtons">   <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div>
           <div class="thumbnail col-sm-6 col-md-4"><img class="box" src="Frontend/www/images/box9.JPG" > <div class="caption"> <p class="textName">Розкішний сюрприз</p> <p class="description">квіточки, свічка, червоне вино, сухофрукти, карамель</p> <p class="price">489 грн</p></div>  <div class="BuyAndDetailsButtons"> <button class="details">Детальніше</button> <button class="buy">В кошик</button></div> </div> -->
         
       </div>


       <div class="row">

        <div class="col-sm-6 col-md-4">
       <ul  class="DetailsText" id='16'>
        <li>
          
          Крафтова коробка в виді сердечка
        </li>

        <li>
          
          10 жуйок "Love is", 15 г
        </li>
        <li>
          
         Шоколадне яйце "Love is", 40 гр - 1 шт
        </li>
        <li>
         
          Шоколадна цукерка "Love is", 40 гр - 5 шт
        </li>
        <li>
          
          Чіпси "Love is", 90 гр - 1 шт
        </li>
       
        <li>
         
          Деревна шерсть
        </li>  
      
        
      </ul> 
      </div>


      <div class="col-sm-6 col-md-4">
      <ul  class="DetailsText" id='17'>
        <li>
          
          Дерев'яна коробка
        </li>
        <li>
          
          Листівка ,  1 шт
        </li>
        <li>
          
          Шампаньске, 700 мл - 1 шт 
        </li>
        <li>
         
          Букет сухих квіток, 1 шт
        </li>
        
        <li>
        
          Деревна шерсть
        </li> 
        <li>             
         Свічка з ароматом лаванди , 1 шт
        </li>  
        <li>             
         Чай чорний розсипний, 200 г
        </li>    
        <li>             
          Пряник, 80 г , 1 шт
         </li>                              
      </ul> 
      </div>


<div class="col-sm-6 col-md-4">
      <ul  class="DetailsText" id='18'>
        <li>
          
          Крафтова коробка
        </li>
        <li>             
          Червоне сухе Вино Каберне , 900 мл
        </li>
        <li>
           
      Набір сухофруктів , 200 гр - 1 шт 
        </li>
        <li>
         
          Букет сухих квіток, 1 шт
        </li>
        
        <li>
          
       Карамель, 190 г - 1 шт 
        </li>
        <li>
          
          Свічка з ароматом вишні , 1 шт
        </li>
        <li>
        
          Деревна шерсть
        </li> 
           
                                        
      </ul>
      </div>

      </div>
    </div>

    

     



  </main>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
  <div id="deliveryAndPay">
    <p class="Delivery">ДОСТАВКА І ОПЛАТА</p>

    <div class="lineD">  <span class="del">ДОСТАВКА</span>  <button onmousedown="viewDiv()" class="plusInfo"><span class="plusDel">+</span></button>
    <div id="Info">
      <span>
     Існує 3 способи доставки:<br> <br> 
      - Самовивіз<br> 
      - Доставка Новою Поштою<br> 
      - Доставка кур'єром на вашу адресу<br> <br> 

      Самовивіз здійснюється за попередньою домовленістю.
    </span>
    </div>
  </div>
  
        <script> 
        var shown=false
          function viewDiv(){
            if(!shown){
        document.getElementById("Info").style.display = "block";  
        shown=true;
            }
            else{
              shown=false;
            document.getElementById("Info").style.display = "none";  
            }
        };
        </script>


    <div class="lineD">  <span class="pay">ОПЛАТА</span>  <button onmousedown="viewDiv2()" class="plusInfo"><span class="p">+</span></button>
      <div id="Info2">
        <span>
          Існує 3 форми оплати:<br><br>

          - Готівковий розрахунок (тільки при самовивозі в м. Київ)<br>
          - Повна передоплата (переказ на картку повної суми)<br>
          - Часткова передоплата + накладений платіж (переказ на картку суми в розмірі 100 грн, а залишок при отриманні на відділенні Нової Пошти)*<br><br>
          
          * окремо оплачується комісія Нової Пошти за накладений платіж (20 грн + 2% сплаченої суми)
      </span>
      </div>
    </div>

    <script> 
      var shown=false
        function viewDiv2(){
          if(!shown){
      document.getElementById("Info2").style.display = "block";  
      shown=true;
          }
          else{
            shown=false;
          document.getElementById("Info2").style.display = "none";  
          }
      };
      </script>


    <div class="lineD" id="l">  <span class="return">ОБМІН ТА ПОВЕРНЕННЯ</span> <button onmousedown="viewDiv3()" class="plusInfo"><span class="p"></span>+</span></button> 
      <div id="Info3">
        <span>
          У випадку, якщо товар вам не підійшов або виявися бракованим - вихід є.<br><br>

Для того, щоб здійнснити повернення чи обмін товару належної якості, переконайтесь у наступному:<br><br>

- пройшло не більше 14 днів днів з моменту покупки (без врахування дня покупки);<br>
- збережний товарний вигляд;<br>
- товар не перебував у використанні;<br>
- товар не входить в список товарів, що не підлягають поверненню відповідно до законодавства;<br>
- в наявності вся комплектація товару, в тому числі упаковка без пошкоджень.<br><br>

У випадку виявлення дефекту товару:<br><br>

- Ми відповідаємо за якість нашої продукції, а тому безкоштовно зробимо обмін товару чи повернення коштів за нього у випадку виявлення на продукті значного виробничого браку чи дефекту;<br>
- При відпраці транспортною компанією «Нова Пошта» кожна посилка страхується на повну суму вартості продукту. В цих випадках відповідальність за збередження цілісності товару несе транспортна компанія «Нова Пошта». Радимо оглянути посилку при її отриманні безпосредньо на відділенні Нової пошті, щоб переконатись у її цілісності. У разі виявлення слідів пошкоджень при транспортуванні, вкажіть про це працівнику Нової Пошти та складіть акт приойму-передачі та претензію.<br><br>

Оформити обмін чи повернення можна декількома способами:<br><br>

- Зателефонувати чи написати в Telegram/Viber за номером +38 (096) 689 84 07<br>
- Написати на електронну пошту: tviy.box@gmail.com<br><br>


*Поверненя товару відбувається у відповідності до Закону України «Про захист прав споживачів».<br>
Всі транспортні витрати несе покупець.<br>
Розгляд запиту про повернення відбувається впродовж 10 днів з моменту звернення.<br>
В разі задоволення вашого запиту про повернення коштів, повернення відбувається впродовж 10 робочих днів.<br>
      </span>
      </div>
    </div>
    <script> 
      var shown=false
        function viewDiv3(){
          if(!shown){
      document.getElementById("Info3").style.display = "block";  
      shown=true;
          }
          else{
            shown=false;
          document.getElementById("Info3").style.display = "none";  
          }
      };
      </script>



  </div>
  </div>
  <div class="col-sm-2"></div>
  </div>


  <div class="row">
    <div class="col-sm-2"></div>
  <div class="col-sm-8" id="comments">
    <p class="comment">ВІДГУКИ</p>
    <div id='AreaAndButton'>
    <input type="text" id='commentInput'>
    <button id='sendCommnet'>Додати коментар</button>
    </div>
    <div id='CommentsSection'>
      
    </div>
  </div>

  <div class="col-sm-2"></div>
</div>


  <div class="contacts"> <p class="ourContacts" id="ourContacts">НАШІ КОНТАКТИ</p>
    <p class="ourNumber"> телефонний номер: <u>+380956788900</u> </p>
    <p class="ourMail"> пошта:  </p>
    <p class="weOnTheMap">ми на карті: <u>м.Київ, вул. Григорія Сковороди, 2, 04655</u></p>
  <div id="map"></div>
<script src="assests/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-lYV63ujVUrRplyaotlzz5p83_O-R7vg&callback=initMap&libraries=&v=weekly"
    async
></script>
</div>


  </div>
</body>


<footer>
  <div class="footer"> 
    <p class="foot"> цей сайт є навчальним проектом </p>
  </div>
</footer>





<!-- Bootsrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<link rel="stylesheet" href="assests/less/design.css">
<link rel="stylesheet/less" type="text/css" href="assests/less/design.less">

<!--Own JavaScript -->

<script type="text/javascript"  src="assests/js/cart.js"> </script>

<script type="text/javascript"  src="assests/js/main.js"> </script> 

<script type="text/javascript"  src="assests/js/scroll.js"> </script> 

<script type="text/javascript"  src="assests/js/cartCheck.js"> </script> 

