
<div class="SignUpPage">
<div class="registrationPageInputAndLabel">
       <label for="Login">Login</label>

       <input type="text" id="Login" name="name" required
              minlength="0" maxlength="40" size="10">
</div>

<div class="registrationPageInputAndLabel">
              <label for="email">Email:</label>

       <input type="text" id="email" name="name2" required
              minlength="0" maxlength="40" size="10">
</div>

<div class="registrationPageInputAndLabel">
        <label for="Password">Password:</label>

<input type="text" id="Password" name="name2" required
       minlength="0" maxlength="40" size="10">

       
</div>
<button id='signUp'>Надіслати код</button>
<a href="http://localhost:3050/login.html">login page</a>

<div id='VerificationArea'>

       <label for="VerCode">Verification code</label>

       <input type="text" id="VerCode" name="VerCode" required
              minlength="0" maxlength="40" size="10">
              
              <button id='VerificationButton'>Зареєструвати</button>
</div>
</div>

       


<link rel="stylesheet" href="assests/less/design.css">
<link rel="stylesheet/less" type="text/css" href="assests/less/design.less">
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="assests/js/main.js"> </script> 
<script src="https://smtpjs.com/v3/smtp.js"></script>