









<% include common/cart.ejs %>
<body>
  <img id='cartIcon' src="cart.png">
  <header class="headerMarketingUa">
    <div class="headerBody">
        <img class="logoImage" src="logo.jpeg">
    <nav>
      <ul class="navBarClass">
        
        <li class="navLi"><a href="">головна сторінка</a></li>
        <li class="navLi"><a href="">готові подарунки</a></li>
        <li class="navLi"><a href="">доставка і оплата</a></li>
        <li class="navLi" id="vid"><a href="">відгуки</a></li>
        <li class="navLi" id="contacts"><a href="">контакти</a></li>
        <li class="navLi"><button class="createBoxButton" href="">Cтворити бокс</button></li>        
      </ul>
    </nav>
    </div>
  </header>

  
  <div id='body'>

  <div class="LetMarketingGrowYourBusiness">
    <div class="LOGO">
      <h2 class="logo"> СТВОРИ СВІЙ ІДЕАЛЬНИЙ </h2>
      <h2 class="logo"> ПОДАРУНКОВИЙ БОКС </h2>    
      <br>     
    </div>
  </div>



  <main>
    <section class="ourStory">
      <table width="93%" cellpadding="" class="ourStory">
        <tr>
          <td class="picStory"></td>
          <td class="ourStoryText">
            <h2 class="OURSTORY">Трішки про нас</h2>
            <p class="textStory">Цей сайт створений для того, щоб підібрати ідеальний бокс-подарунок або створити свій унікальний. Завдяки цьому сервісу ви економите свій час, адже багато деталей, що можна додати до подарунку знаходяться в одному місці.</p>
            <form>
              <button class="GetInTouch">пора творити</button>
            </form>
          </td>
        </tr>
      </table>
      
    </section>
    <section class="completeBox">
      <h2>ГОТОВІ ПОДАРУНКИ</h2>
    </section>

    <div class="boxSections">


        
          <p class="byHoliday">До Пасхи</p>
          <div class="holiday">
            <tr class="holidayBoxes">
              <div class="item"><td><img class="box" src="box13east.JPG" > <p class="textName">Весняний комплімент</p> <p class="description">з ароматним чаєм і смаколиками</p> <p class="price">195 грн</p> </td> <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
              <div class="item"><td><img class="box" src="box15east.JPG" > <p class="textName">Ніжні барви</p> <p class="description">з тематичними деталями і смаколиками</p> <p class="price">175 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
              <div class="item"><td><img class="box" src="box8east.JPG" >   <p class="textName">Весняний пакунок</p> <p class="description">чай, тематичні пряники, смаколики</p> <p class="price">225 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
            </tr>
          </div>
          
               

        <p class="byHoliday">Для нього</p>
        <div class="holiday">
          <tr class="holidayBoxes">
            <div class="item"><td><img class="box" src="men.JPG" > <p class="textName">Набір для догляду</p> <p class="description">шампунь, гель для душу, крем для рук, бальзам після гоління, листівка</p> <p class="price">359 грн</p> </td> <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
            <div class="item"><td><img class="box" src="formen.JPG" > <p class="textName">Приємні дрібниці</p> <p class="description">смачний фруктовий чай та кава, фляжка та смаколики</p> <p class="price">310 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
            <div class="item"><td><img class="box" src="forhim.JPG" >   <p class="textName">Елегантний</p> <p class="description">блокнот, смачний чай, цукерки, шоколад, горішки</p> <p class="price">265 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
          </tr>
        </div>



        <p class="byHoliday">Для неї</p>
          <div class="holiday">
            <tr class="holidayBoxes">
              <div class="item"><td><img class="box" src="box188march.JPG" > <p class="textName">Ідеально до 8 березня</p> <p class="description">листівка, пряник в вигляді вісьмірки, чашка та солоденьке</p> <p class="price">279 грн</p> </td> <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
              <div class="item"><td><img class="box" src="forHer.JPG" > <p class="textName">Рожеві приємності</p> <p class="description">зефір, шоколад, джем, цукерки, антисептик з ароматом троянди</p> <p class="price"> 339 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
              <div class="item"><td><img class="box" src="box5.JPG" >   <p class="textName">Квітковий бокс</p> <p class="description">сіль для ванни, кокосове масло для тіла, букетик, листівка і солоденьке</p> <p class="price"> 229 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
            </tr>
          </div>
        


       <p class="byHoliday">Смаколики</p>
       <div class="holiday">
         <tr class="holidayBoxes">
           <div class="item"><td><img class="box" src="box16.JPG" > <p class="textName">Бадьорий пакунок</p> <p class="description">кава, апельсиновий мармелад, склянка, горішки </p> <p class="price"> 275 грн</p> </td> <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
           <div class="item"><td><img class="box" src="box14.JPG" > <p class="textName">Для затишного вечора</p> <p class="description">какао, ванільний зефір, імбирне печиво, ніжні деталі</p> <p class="price"> 140 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
           <div class="item"><td><img class="box" src="box11.JPG" >   <p class="textName">Цінувачам кави</p> <p class="description">заварник для кави, чашка з блюдечком, кава, шоколадні цукерки</p> <p class="price"> 390 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
         </tr>
       </div>


    
       <p class="byHoliday">До нового року</p>
       <div class="holiday">
         <tr class="holidayBoxes">
           <div class="item"><td><img class="box" src="newYear.JPG" > <p class="textName">Набір для глінтвейну</p> <p class="description">Спеції для глінтвейну, червоне сухе вино, класична склянка , смаколики, листівка</p> <p class="price">695 грн</p> </td> <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
           <div class="item"><td><img class="box" src="box10newyear.JPG" > <p class="textName">Затишний подарунок</p> <p class="description">Шкарпетки, пряник Дід Мороз, упаковка какао, солодощі, дерев'яна ялинка</p> <p class="price">240 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
           <div class="item"><td><img class="box" src="box12.JPG" >   <p class="textName">Новорічні солодощі</p> <p class="description">Баночки з трьома видами джему, цукерки, шоколад, пряники-зірочки</p> <p class="price">329 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
         </tr>
       </div>


       <p class="byHoliday">До дня всіх закоханих</p>
       <div class="holiday">
         <tr class="holidayBoxes">
           <div class="item"><td><img class="box" src="love.JPG" > <p class="textName">Для солодкоїжок</p> <p class="description">упаковка в вигляді сердечка, жуйки, шоколад, листівка</p> <p class="price"> 369 грн</p> </td> <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
           <div class="item"><td><img class="box" src="box3.JPG" > <p class="textName">Ніжний подарунок</p> <p class="description">дерев'яний бокс, шампаньске, свічка, букетик, пряник, цукерки, чай і листівка</p> <p class="price"> 440 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
           <div class="item"><td><img class="box" src="box9.JPG" >   <p class="textName">Розкішний сюрприз</p> <p class="description">квіточки, свічка, червоне вино, сухофрукти, карамель</p> <p class="price">489 грн</p> </td>   <button class="details">Детальніше</button> <button class="buy">В кошик</button> </div>
         </tr>
       </div>



  </main>
  
  <div id="map"></div>
<script src="map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-lYV63ujVUrRplyaotlzz5p83_O-R7vg&callback=initMap&libraries=&v=weekly"
    async
></script>
  </div>
</body>


<footer>
  <div class="footer"> 

  </div>
</footer>



<!-- Bootsrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


  
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="design.css">
<link rel="stylesheet/less" type="text/css" href="design.less">

<!--Own JavaScript -->
<script type="text/javascript"  src="cart.js"> </script>

